 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 .items{
     display: flex;
     flex-flow: wrap;
     justify-content: space-evenly;
 }
 .cities{
    background-color: #273746;
    margin: 5px ;
    color: rgb(224, 223, 221);
   border-radius: 5px;
   width: 300px;
   transition: 3s ease-in-out;
 }
 .cities:hover{
    /* box-shadow: 0 0 4px 8px 0 rgba(0,0,0,.5); */
    background: #585757;
 }
 .details{
     margin: 0 10px;
 }
 .details span{
     cursor: pointer;
     padding: 5px;
 }
 .details h3{
     text-transform: capitalize;
     font-weight: 500;
     font-size:16px;
     padding: 10px 0 0;
     color: rgb(163, 110, 110);
 }
 .details h4{
     font-size: 14px;
     font-weight: 100;
 }
 .details p{
     padding: 5px;
 }
 .a{
    margin-bottom: 8px;
    padding: 4px 10px;
    background-color: rgb(172, 167, 167);
 }
 @media screen and (max-width:500px){
     .cities{
         width: 70vw;
     }
     .cities img{
         width: 100%;
         height: 150px;
     }
 }
 nav{
     display: flex;
     justify-content: space-around;
     height: 4rem;
     text-transform: uppercase;
     align-items: center;
     background: #273746;
     color: #efefef;
     width: 100%;
     margin:0 10px ;
 }
 nav ul{
     list-style-type: none;
     display: flex;
 }
 nav li {
     margin: 10px;
 }