body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(16, 88, 93),rgb(148, 88, 19));
    max-width: 100%;
}
.images{
    flex: 0 0 80%;
    min-height: 70vh;
    background-image: url('./img/bcg-0.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.btn{
    display:inline-block;
    border: 1px solid #fff;
    background: #ccc;
    outline: none;
    font-size: 1.3rem;
    padding: .5rem;
    color: black;
}
.prevBtn{
    position: absolute;
    top: 50%;
    left: 0;
transform: (-50%, -50%)
}
.nextBtn{
    position: absolute;
    top: 50%;
    right: 0;
transform: (50%, -50%)
}
.btn:active{
    background: gray;
    box-shadow: 1px 1px #fff;
}
.btn:hover{
    background: rgb(51, 54, 54);
    color: #fff;
}